body {
    background-color: #f8f9fa; /* Light background for better contrast */
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.otp-field input:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
    display: none;
}

.resend {
    font-size: 12px;
}

.footer {
    position: relative;
    text-align: right;
    color: black;
    font-size: 12px;
    font-family: monospace;
    margin: 10px;
}

.footer a {
    color: black;
    text-decoration: none;
}
