
:root {
    --primary-color: hsl(122, 39%, 49%);
    --primary-color-darker: hsl(125, 65%, 33%);
       --text-color: #252b42;
    --second-text-color: #737373;
    --danger-color: #e74040; --primary-color: hsl(125, 65%, 33%);
    --secondary-color: hsl(0, 0%, 96%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--secondary-color);
    margin: 0;
}

.login-container {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-left {
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    flex: 1;
}

.login-left img {
    max-width: 100px;
    margin-bottom: 20px;
}

.login-right {
    padding: 30px;
    flex: 1;
    position: relative;
}

.login-right h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.header-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-icons .house-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.form-control {
    margin-bottom: 15px;
}

.form-actions {
    margin-top: 20px;
}

.form-actions button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.form-actions button:hover {
    background-color: hsl(125, 65%, 25%);
}

.form-actions button:focus,
.form-actions button:active {
    background-color: hsl(125, 65%, 25%);
    box-shadow: none;
    outline: none;
}

.form-links {
    text-align: center;
    margin-top: 15px;
}

.form-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.form-links a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.show-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 1.2em;
}

.login-hints {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 20px;
    }

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-left,
    .login-right {
        padding: 20px;
        text-align: center;
    }

    .form-actions {
        flex-direction: column;
    }

    .form-actions button {
        width: 100%;
    }

    .header-icons {
        position: static;
        margin-top:0.6rem;
    }
}
