:root {
    --primary-color-darker: hsl(125, 65%, 33%);
    --primary-color: hsl(122, 39%, 49%);
    --secondary: #f3cd03;
    --text-color: #252b42;
    --second-text-color: #737373;
    --danger-color: #e74040;
    --background-color: #f7faff;
}

.header-icons .house-icon {
    color: var(--primary-color);
}

.header-icons .house-icon svg {
    width: 24px;
    height: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    margin-top: 20px;
}

.form-actions button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.notification {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.notification.info {
    background-color: lightyellow;
    color: var(--text-color);
}

.notification.error {
    background-color: var(--danger-color);
    color: #fff;
}