body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  line-height: 1.6;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Adjust the width */
  height: auto;
}


h1 {
  color: #222;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 1px;
}

input {
  width: 90%;
  max-width: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.generated-key {
  margin-top: 20px;
  padding: 20px;
  background-color: #e7f7e7;
  border: 1px solid #4caf50;
  border-radius: 6px;
  color: #4caf50;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
  color: #555;
}

form div {
  margin-bottom: 20px;
  text-align: left;
}


@media (max-width: 600px) {
  .container {
    padding: 20px;
    margin: 20px;
  }

  h1 {
    font-size: 24px;
  }

  input {
    width: 100%;
    font-size: 14px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
